{% extends "shop/base.html" %}
{% load static %}


{% block content %}


<div class="h-100 d-flex align-items-center justify-content-center">
    <h1>주문 내역</h1>
  {% if messages %}
    {% for message in messages %}
  <div class="alert alert-primary" role="alert">
    <h3><strong> {{ message }} </strong></h3>
  </div>
    {% endfor %}
  {% endif %}
</div>
<br><br>

<div class="h-100 d-flex align-items-center justify-content-center">
    {% for i in order %}
    주문일 : {{ i.created_at }}<br>
      받는 분: {{ i.name }} <br>
      이메일: {{ i.email }}<br>
      배송지 주소: {{ i.address }}<br>
      휴대전화: {{ i.phone }}<br>
</div>



{% for j in i.orderitem.values %} <!-- jsonfield 로서 i.orderitem.items ,i.orderitem.i.keys, i.orderitem.values 가능 -->
<div class="h-100 d-flex align-items-center justify-content-center">
    <img src="{{ j.product_image }}" width="200" height="200"> &nbsp&nbsp
    {{ j.product_name }} &nbsp&nbsp
    {{ j.price }} &nbsp&nbsp
    {{ j.quantity }} &nbsp&nbsp
    {{ j.prodcut_category }} &nbsp&nbsp
    {{ j.total_price }}<br><br>
    
    </div>
{% endfor %}


{% endfor %}
{% endblock %}