<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>{% block mytitle%}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<nav>

<ul class="nav nav-tabs">
    <li>

        <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{% static 'img/bee1.png' %}" alt="" width="50" height="50">
    </a>
  </div>

    </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">CaseShop</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="#">소개</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">캠핑</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">운동</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">음식</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">문의게시판</a>
  </li>
</ul>
</nav>


</body>
</html>